@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto&family=Ubuntu&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body 
{
 height: 100%;
 width: 100%;
 margin: 0 auto;
padding: 0px;
background-color: #49214c;	
}

.navigationbar{
    background-color: #49214c;
    /* border-bottom: 1px solid #ccc; */
}

.table{
    margin-top: 100px !important;
}

.logo{
    height: 45px;
    margin-right: 500px;
}

.stacking{
    color: #ccc;
}

.text-secondary{
    color: #ccc;
}
